.App {
  text-align: left;
  padding: 20px;
}

input {
  padding: 4px 8px;
  border: 1px solid #ddd;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  background-color: #eee;
  cursor: pointer;
}